<!DOCTYPE >
<html>
  <head>
    <link rel="stylesheet" href="in.css" />
    <link rel="shortcut icon" href="#" />
    <script src="jquery-3.5.1.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script>
      // TODO write some awesome JS code!
      var appleData = [
        {
          name: "fuji",
          url: "img/fuji.jpg",
        },
        {
          name: "gala",
          url: "img/gala.jpg",
        },
      ];
      var app;
      var Router = Backbone.Router.extend({
        routes: {
          "": "home",
          "apples/:appleName": "loadApple",
        },
        initialize: function () {
          var apples = new Apples();
          apples.reset(appleData);
          this.homeView = new homeView({ collection: apples });
          this.appleView = new appleView({ collection: apples });
        },
        home: function () {
          //this.homeView = new homeView();
          this.homeView.render();
        },
        loadApple: function (appleName) {
          this.appleView.render(appleName);
        },
      });
      var Apples = Backbone.Collection.extend({});
      var appleView = Backbone.View.extend({
        template: _.template(
          `<figure>
              <img src="<%= attributes.url%>"/>
               <figcaption> <%= attributes.name %></figcaption>
          </figure>`
        ),
        render: function (appleName) {
          var appleModel = this.collection.where({ name: appleName })[0];
          var appleHtml = this.template(appleModel);
          $(".content").html(appleHtml);
        },
      });
      var homeView = Backbone.View.extend({
        el: ".content",
        template: _.template("Apple data: <%= data %>"),
        render: function () {
          this.$el.html(
            this.template({ data: JSON.stringify(this.collection.models) })
          );
        },
        // TODO subviews
      });

      $(document).ready(function () {
        app = new Router();
        Backbone.history.start();
      });
    </script>
  </head>
  <body>
    <div class="content"></div>
  </body>
</html>
